<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>

        <label>
            <mat-form-field>
                <input matInput [(ngModel)]="hero.name" placeholder="name" />
            </mat-form-field>
        </label>

    </div>

    <div>

        <label>
            <mat-form-field>
                <input matInput [(ngModel)]="hero.power" placeholder="power" />
            </mat-form-field>
        </label>

    </div>

</div>

<button mat-raised-button color="primary" (click)="save()">save</button>
<button mat-raised-button (click)="goBack()">go back</button>