/* AppComponent's private CSS styles */

.wrapper {
    padding: 40px 60px;
}
header {
    display: flex;
    padding: 20px 20px;
    background: #f7f7f7;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

h1 {
    margin: 0;
}

.mat-button,
.mat-raised-button {
    margin:  0 6px;
}

.left {
    width: 60%;
    float: left;
}

.right {
    width: 40%;
    float: right;
}