<h2>Top Heroes</h2>

<section class="card-wrapper">
    <mat-card *ngFor="let hero of heroes" class="card">
        <mat-card-header>
            <mat-card-title>{{hero.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <p>Parameter id: {{hero.id}}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-icon-button color="primary" class="card-link" routerLink="/detail/{{hero.id}}">
                <mat-icon>edit</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</section>

<app-hero-search></app-hero-search>