/* DashboardComponent's private CSS styles */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    max-width: 200px;
}

.content {
    padding: 0 16px;
}
