/* HeroesComponent's private CSS styles */
.heroes {
    list-style-type: none;
    width: 70%;
}

.add-block .mat-form-field {
    margin-right: 10px;
}

.mat-elevation-z8 {
    width: 90%;
}

table {
    width: 100%;
}

table a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 14px 0px;
}

.mat-column-id {
    width: 100px;
}

.mat-column-power {
    width: 150px;
}

.mat-column-delete {
    width: 50px;
}

.mat-mini-fab {
    margin: 0 6px;
}