/* HeroSearch private styles */
#search-component {
    position: relative;
}

.search-result {
    position: absolute;
    z-index: 1;
    background: #fff;
    box-shadow: 2px 2px 4px #00000021;
    border-radius: 4px;
}